<table>
    <tr>
      <td>
        <label>
          <input type="checkbox" [(ngModel)]="showfirstname" /> First Name
        </label>
  
      </td>
      <td>
        <input id="firstname" type="text" [(ngModel)]="firstname" *ngIf="showfirstname" />
      </td>
    </tr>
  
    <tr>
      <td>
        <label>
          <input type="checkbox" [(ngModel)]="showlasttname" /> Last Name
        </label>
   
      </td>
      <td>
        <input id="lastname" type="text" [(ngModel)]="lastname" *ngIf="showlasttname" />
      </td>
    </tr>
  
    <tr>
      <td>
        <label>
          <input type="checkbox" [(ngModel)]="showbiometric" /> Biometric
        </label>
  
      </td>
      <td>
        <input id="biometric" type="text" [(ngModel)]="biom" *ngIf="showbiometric" />
      </td>
    </tr>
  
    <tr>
      <td>
        <label>
          <input type="checkbox" [(ngModel)]="showmob" /> Mobile number
        </label>
  
      </td>
      <td>
        <input id="mob" type="text" [(ngModel)]="mob" *ngIf="showmob" />
      </td>
    </tr>
  
  <tr><td><input type="button" value="send" (click)="sendConsent(firstname,lastname,biom,mob);" /></td></tr>
    <table>